body {
  background-color: #b078e6;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-size: 13px;
  color: #fff;
}

.App {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
