.task--creator {
  flex: 1;
  padding-top: 20px;

  label,
  input {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  label {
    margin-bottom: 6px;
  }

  input {
    padding: 15px 10px;
    font-family: Helvetica;
    color: #333;
    border: none;
    border-radius: 3px;
    font-size: 13px;
  }
}
